@model aspcoremariadb.Models.Book;
@{
}

<div class="container">
    <h2>Book List</h2>
    <a class="btn btn-success" href="/Demo/NewBook">Add New Book</a>
    <table class="table table-responsive table-stripped">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>Book Author</th>
            <th>Book Description</th>
        </tr>
    </thead>
    <tbody>
@foreach(var ldata in ViewBag.list)
{
    <tr>
    <td>  @ldata.Title  </td>
    <td>  @ldata.Author  </td>
    <td>  @ldata.Description  </td>
    <td>  <a class="btn btn-success" href="/Demo/EditBook/@ldata.Id">Edit</a><a href="/Demo/DeleteBook/@ldata.Id" class="btn btn-danger">Delete</a>  </td>
    </tr>
}
</tbody>
</table>

</div>
<script type="text/javascript">
            $(document).ready(function(){

                    //alert("Hello");

                function mybooks()
                  {
                    $.ajax({
                        url:"/AjaxCRUD/getbooks",
                        method:"get",
                        data:{set:true},
                        success:function(response){
                                        
                            console.log(response)
                        },
                        errors:function(response){
                            alert("Error");
                            console.log(response);
                        }
                        
                    });
                    
                 }

        function singlebook() {
            $.ajax({
                url: "/AjaxCRUD/getbook",
                method: "get",
                data: { set: true,id:3 },
                success: function (response) {

                    console.log(response)
                },
                errors: function (response) {
                    alert("Error");
                    console.log(response);
                }

            });

        }

                mybooks();
                singlebook();

            });
</script>

