@model aspcoremariadb.Models.User;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    Layout = "_Guest";
    ViewBag.Title = "Login into Library";
}
<div class="row">
    <h4>Login Now - Learn , Earn & Grow</h4>
            
                <div class="@TempData["alert"]">@TempData["msg"]</div>

    <div class="col-md-4">
        <form asp-route="signin">
           
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <button type="submit" name="signi" class="btn btn-success">SignIn</button>
            </div>
        </form>
    </div>
    <div class="col-md-8"><img src="/banner/1758.jpg" class="img img-responsive" style="width:100%;" /></div>
</div>
<br />
<div>

    <a asp-route="signup">SignUn</a>
</div>
